@model WebCartera.Models.tmovimiento

@{
    ViewBag.Title = "Transferencia";
}

<h2>Transferencia</h2>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src=""></script>
<script src="s"></script>