#msjaccesserror {
    position: absolute;
    z-index: 1001;
    right: 5%;
}


#msjaccesserror {
    position: absolute;
    z-index: 1001;
    right: 5%;
}
.list-group-item > a {
    color: #d3d5d5;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #1ab394;
    border-color: #0e8970;
}
.list-group-item.active > a {
    color: #fff;
}


a:hover {
    color: #0e8970;
}

a {
    color: #1ab394;
}

.tab-pane a {
    font-size: 14px;
    color: #676a6c;
}

#tab-3 a :hover {
    font-size: 14px;
    color: #0e8970;
    font-weight: 600;
}
.gatos_tab {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #ffffff;
    font-size: x-large;
}
.tab_menu a:hover {
    color: #d3d5d5 !important;
    font-weight:600;
}
.ingresos_tab {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #ffffff;
    font-size: x-large;
}
.transfer_tab {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #ffffff;
    font-size: x-large;
}



/*Dropdown personalizado param ellipse cambio de cuentas*/

.ddl-size {
    background: #1ab394;
    color: #fff;
    border: 1px solid #1ab394
    ;
    border-radius: 4px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .ddl-size {
        min-width: 100%;
        min-height: 100%;
        font-size: 14px
    }   
}

@media (min-width: 992px) {
    .ddl-size {
        min-width: 350px;
        font-size: 16px;
        min-height: 2.2em;
    }
}

@media (min-width: 1200px) {
    .ddl-size {
        min-width: 500px;  
    }
}

.itemDate {    
    background-color: transparent;
    transition: all .1s;    
}
    .itemDate :hover {
        color: #fff;
        background-color: #1ab394 !important;
        font-weight: 700;
        transition: all .1s;
    }
    .itemDate > div {
        color: #1ab394;        
        border-color: #1ab394;
        text-align: center;
        font-size: large;
    }

.dropdown-item.active,
.dropdown-item:active {
    /* background-color: inherit; */
    background-color: #bbbbbb !important;
}

div.dataTables_scrollBody thead th {
    vertical-align: top;
}