@{
    ViewBag.Title = "Confirmación de restablecimiento de contraseña";
}
<div class="container intro">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Se restableció la contraseña. @Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Cuenta", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
